# Core project dependencies
numpy
pandas
scikit-learn
requests


neo4j

# HuggingFace for LLM fallback
huggingface_hub

# HTTP requests for API calls
requests

# spaCy for entity extraction (Step 1.2)
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl

streamlit
pycountry
geonamescache