# Core project dependencies
numpy
pandas
scikit-learn
requests


neo4j

# HuggingFace for LLM fallback
huggingface_hub

# HTTP requests for API calls
requests

# spaCy for entity extraction (Step 1.2)
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#egg=en_core_web_md

streamlit
pycountry
geonamescache
sentence_transformers

# Graph visualization
networkx
plotly